<h3>{{PageTitle}}</h3>
<h3>{{"2024"+PageTitle}}</h3>
<h3>{{5+3}}</h3>
<h2>{{isGirl?"I am girl":"I am boy"}}</h2>
<h2>{{user|json}}</h2>
<h3 [style.color]="colorStr">{{PageTitle}}</h3>
<h2>{{catName}}</h2>
<img [src]="dogSrc" jsaction="VQAsE" class="sFlh5c pT0Scc iPVvYb" style="max-width: 2048px; height: 310px; margin: 6.5px 0px; width: 467px;" alt="" jsname="kn3ccd" aria-hidden="fals" (mousemove)="touched()">
<br>
<br>
<input type="text" [value]="PageTitle">
<button (click)="meow()" >喵喵</button>
<!-- <input type="text" [(ngModel)]="name"> -->
